/* An example polar clock. */

body {
	background-color: #003366;
	margin: 0px;
}

#clock_text {
	font-size: 22pt;
	text-align: center;
}

.dark {
	color: #336699;
}

.light {
	color: #FFCC66;
}

#clock_canvas {
	width: 100%;
	height: 100%;
}